@import "tailwindcss";

@theme inline {
  --color-background: #181E1D;
  --color-foreground: var(--foreground);

  /* THEME COLORS */
  --color-primary: #FF6F42;
  --color-primary-text: #F6ECE8;
  --color-secondary-text: #DDDDDD;

  /* FONTS */
  --font-head: var(--font-clash-display);
  --font-sans: var(--font-clash-grotesk);
  --font-mono: var(--font-jetbrains-mono);
  }

@layer utilities {
  .grad-btn {
    background: linear-gradient(135deg, #FF6F42 0%, #DC5C34 50%);
    background-size: 200% 200%;
    transition: background-position 0.3s ease;
  }

  .grad-btn:hover {
    background-position: 40% 40%;
  }
}

body {
  background: var(--color-background);
  color: var(--color-secondary-text);
  font-family: var(--font-clash-grotesk);
}
